---
interface Props {
	badge?: string;
	url?: string;
	label?: string;
	class?: string;
}
const { badge, url, label } = Astro.props;
const className = Astro.props.class;
---
<a href={url} aria-label={label} class="block mb-1.5">
    <div
        class:list={[
            `w-full
            py-2.5
            px-4
            rounded-lg
            bg-transparent
            hover:bg-[var(--btn-plain-bg-hover)]
            transition-all
            duration-300
            
            text-[var(--text-secondary)]
            hover:text-[var(--primary)]
            flex items-center justify-between
            group`,
            className
        ]}
    >
        <div class="flex items-center overflow-hidden">
            <div class="w-1.5 h-5 rounded-full bg-primary/0 group-hover:bg-primary/50 mr-3 transition-all duration-300"></div>
            <span class="truncate font-medium text-sm">
                <slot></slot>
            </span>
        </div>
        
        { badge !== undefined && badge !== null && badge !== '' &&
            <div class="
                px-3 py-1 
                rounded-md 
                text-xs font-bold
                bg-black/5 dark:bg-white/10
                text-[var(--text-muted)]
                group-hover:bg-primary/10 group-hover:text-primary
                transition-colors duration-300
            ">
                { badge }
            </div>
        }
    </div>
</a>
